[submodule "pqclean"]
	path = pqclean
	url = https://github.com/pqclean/pqclean
	branch = master

[submodule "mldsa-native"]
	path = mldsa-native
	url = https://github.com/pq-code-package/mldsa-native
